{% extends 'base.html' %}
{% load staticfiles %}

{% block extra_head %}
    <link type="text/css" rel="stylesheet" href="{% static 'css/class2.css' %}" />
{% endblock extra_head%}
{% block content %}
<div class="row" style="border: 2px solid black;height:400px;" id="header-container">

</div>
{#<div class="row" style="border: 2px solid red;height:400px;" id="student-list-container">#}
{##}
{#</div>#}
<div class="row" style="border: 2px solid black;height:400px;" id="help-me-container">

</div>
<div class="row" style="border: 2px solid black;height:400px;" id="footer-container">

</div>

{% endblock content %}