{% load staticfiles %}

<!DOCTYPE html>
<html class="no-js">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>MyClass</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />

        <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->


        <link rel="stylesheet" href="{% static 'css/normalize.css' %}">
        <link rel="stylesheet" href="{% static 'css/class.css' %}">
        <script src= "http://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
        <script src="{% static 'js/vendor/modernizr-2.7.1.min.js' %}"></script>

        <style type="text/css">
			body {
				font-family: 'Open Sans', sans-serif;
			}
		</style>
    </head>
    <body class="loading">
       	<div id="preload">
            <img src="{% static 'img/old_classroom.jpg' %}">
	       	<img src="{% static 'img/raising_hands.jpg' %}">
	       	<img src="{% static 'img/blur-door.jpg' %}">
	       	<img src="{% static 'img/library.jpg' %}">
       	</div>

       	<main>

	        <section id="slide-1" class="homeSlide">
	        	<div class="bcg"
	        		data-center="background-position: 50% 0px;"
	        		data-top-bottom="background-position: 50% -100px;"
	        		data-anchor-target="#slide-1"
	        	>
		        	<div class="hsContainer">
			    		<div class="hsContent" data-center="bottom: 200px; opacity: 1" data-top="bottom: 1200px; opacity: 0" data-anchor-target="#slide-1 h2">
				    		<h1>Welcome {{ user.username }}</h1>
                            <h2>You're checked into your {{ klass }} class</h2>
                            <h2>The class mayor is {{ mayor }}</h2>

			    		</div>
		        	</div>
	        	</div>
		    </section>

			<section id="slide-2" class="homeSlide">
				<div class="bcg"
					data-center="background-position: 50% 10px;"
					data-top-bottom="background-position: 50% -100px;"
					data-bottom-top="background-position: 50% 100px;"
					data-anchor-target="#slide-2"
				>
			    	<div class="hsContainer">
			    		<div class="hsContent"
			    			data-center="opacity: 1"
			    			data-center-top="opacity: 0"
			    			data--100-bottom="opacity: 0;"
			    			data-anchor-target="#slide-2"
			    		>
                            <h2>STUDENTS IN THE CLASS TODAY</h2>
                            <div>
                            {% for checkin in checkins %}
                                <p>{{ checkin.student }} checked in at {{ checkin.check_in_time }}<br></p>
                            {% endfor %}
                            </div>
			    		</div>
			    	</div>
				</div>
			</section>

			<section id="slide-3" class="homeSlide">
				<div class="bcg"
					data-center="background-position: 50% 0px;"
					data-top-bottom="background-position: 50% -100px;"
					data-bottom-top="background-position: 50% 100px;"
					data-anchor-target="#slide-3"
				>
			    	<div class="hsContainer">
						<div class="hsContent"
							data--50-bottom="opacity: 0;"
							data--200-bottom="opacity: 1;"
							data-center="opacity: 1"
							data-200-top="opacity: 0"
							data-anchor-target="#slide-3 h2"
						>
                            <h2 id="helpmeredirect">Help Me</h2>
                            {% if user.is_student %}
                                <button id="{{ user.pk }}" class= "btn btn-primary addMeButton" type="submit" value="addHelp">Add Me</button>
                            {% endif %}
                            {% for help_object in assist_list %}
                                <li>{{ help_object.student }}
                                    {% if user.is_student == False %}
                                        <button id="{{ help_object.pk }}" class = "btn btn-primary helpedButton" type="submit" value="helped">Helped Student</button>
                                {% endif %}</li>
                            {% endfor %}
                            <div class="helpMe" style="border: 2px solid green; height:200px; background-color: white;">

                            </div>

			    		</div>
			    	</div>

			    </div>
			</section>

			<section id="slide-4" class="homeSlide">
				<div class="bcg"
					data-center="background-position: 50% 0px;"
					data-top-bottom="background-position: 50% -100px;"
					data-bottom-top="background-position: 50% 100px;"
					data-anchor-target="#slide-4"
				>
			    	<div class="hsContainer">
						<div class="hsContent"
							data-bottom-top="opacity: 0"
							data-25p-top="opacity: 0"
							data-top="opacity: 1"
							data-anchor-target="#slide-4"
						>
				    		<h2>Thanks for visiting</h2>
			    		</div>
			    	</div>

			    </div>
			</section>

		</main>

        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="{% static 'js/vendor/jquery-1.9.1.min.js' %}"><\/script>')</script>
        <script src="{% static 'js/imagesloaded.js' %}"></script>
        <script src="{% static 'js/skrollr.js' %}"></script>
        <script src="{% static 'js/class.js' %}"></script>
        <script src="{% static 'js/homeHelpMe.js' %}"></script>

    </body>
</html>