{#<div class="helpMe">#}
{#    <h2>HelpMe</h2>#}
    <div class="assistList">
        <ol>
        {% for student_to_be_helped in assist_list %}
                <li>{{ student_to_be_helped.student }}
                    {% if user.is_student == False %}
                        <a href="{% url 'helped' student_to_be_helped.pk %}"><button class= "btn btn-primary helpedButton" type="submit" value="helped">Helped Student</button></a>
                {% endif %}</li>


        {% endfor %}
        </ol>
    </div>
    {% if user.is_student %}
    <div class="addMe">
        <a href="{% url 'add_help' user.pk %}"><button class= "btn btn-primary addMeButton" type="submit" value="addHelp">Add Me</button></a>
    </div>
    {% endif %}

{#</div>#}
