{% extends 'base.html' %}
{% load staticfiles %}
{% block extra_head %}
    <link type="text/css" rel="stylesheet" href="{% static 'css/home.css' %}" />
{% endblock extra_head%}
{% block content %}
<div class="container">
    <div class="row" id="home-container">
        <div class="col-xs-12" id="welcome_info">
            {% if user.is_student %}
                <h2>Student Profile<span>  |  </span>Welcome {{ user.first_name }}</h2>
            {% else %}
                <h2>Teacher Profile<span>  |  </span>Welcome {{ user.first_name }}</h2>
            {% endif %}
        </div>
        <div class="col-xs-8 col-xs-offset-2" id="class_list">
            {% for class in classes %}
            <div class="row">
                <div class="col-xs-6 border" >
                    <h5>{{ class.name }}</h5>
                </div>
                <div class="col-xs-3 border">
                    <h5>{{ class.class_start }}</h5>
                </div>
                <div class="col-xs-3">
                    <a href="{% url 'view_class' class.pk %}"><button id="checkin" class= "btn btn-primary" type="submit" value="helped">CHECK IN</button></a>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>

{% endblock content %}
